version: "3.3"
services:
  frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        INTERNAL_API_URL: ${INTERNAL_API_URL}
        NEXT_PUBLIC_LIFF_ID: ${NEXT_PUBLIC_LIFF_ID}
    container_name: sisomapt-web
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - sisom-net
networks:
  sisom-net:
    external: true
